*{
  border-width: 0px !important;
}
.calculate-title {
  font-size: 3.7rem;
  margin-bottom: 5%;
  margin-top: 3rem;
}
.input-section {
  width: 60%;
  margin:auto;
  display:block;
}
.subtitle-input {
  font-family:"Poppins", "sans-serif";
  font-size: 1.7rem;
  display: block;
  margin-bottom: 1rem;
}

#chart-container {
  width: 30rem;
  height: 30rem;
}
input{
  font-family: "poppins", "sans-serif";
  background-color: black;
  color:white;
  border-radius:0;
  border:0;
  padding: 1rem 2rem;
  width: 16rem;
  border:none;
}
input::after {
    content: '';
  border:none;
}
select{
    font-family: "poppins", "sans-serif";
  padding: 1rem 3rem;
  margin-top: 1rem;
}
option{
  font-family: "poppins", "sans-serif";
  border-radius:0;
  margin: 5rem;
}
h2 {
  font-size: 2.4rem;
  font-family:"Poppins", "sans-serif";
  margin-top: 2rem;
}
label {
  font-size: 2rem;
    font-family:"Poppins", "sans-serif";
}
.calculate-button {
  background-color:black;
  color:white;
  padding: 1rem 5rem;
  border-radius: 0;
  transition: 400ms;
  font-family:"Poppins", "sans-serif";
  font-weight: 500;
  font-size:1.5rem;
  border-radius: 0.2rem;
  margin-top: 5%;
  margin-left: 0;
}
.calculate-button:hover {
  background-color:#6a6c6c;
  cursor:pointer;
}
.user-input-dropdown {
  display:block;
}
button {
  background-color:black;
  color:white;
  padding: 1rem 1.5rem;
  border-radius: 0;
  transition: 400ms;
  font-family:"Poppins", "sans-serif";
  font-weight: 500;
  font-size:1.3rem;
  border-radius: 0.2rem;
  border:none;
  margin-left: 3rem;
}
button:hover {
  background-color:#6a6c6c;
  cursor:pointer;
  border:none;
}
li {
  font-size: 1.3rem;
}
.white-background-card {
  background-color:#dde0e0;
  padding:2rem;
  -webkit-box-shadow: 5px 5px 50px 6px #C9C9C9; 
box-shadow: 5px 5px 50px 6px #C9C9C9;
  border-radius: 1rem;
  width: 300px;
  
}
.extra-margin {
  margin-top: 2rem;
}
.card-right-align {
  float:right;
}
.margin-left {
  margin-left: 2rem;
}
#results-section {
  margin:auto;
  background-color:#1a1a1a;
  color:white;
  margin: 10rem 0;
  height: 50vh
}
#results-section h1 {
  font-size: 4rem;
  padding-top: 4rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
#results-section p {
   font-family:"Poppins", "sans-serif";
  font-size: 1.8rem;
  text-align: center;

}
.results-data {
  width: 50rem;
  margin:auto;
  margin-top: auto; 
  margin-bottom: auto;
  padding-top: 2rem;
  
}
.calculate-input-card{
  display:flex;
  flex-direction:column;
}
.calculate-input-card:not(:first-child){
  margin-top: 4rem;
}
.inputs-holder{
  display:flex;
}
.input-block{
  margin-top: 2rem;
}
.input-block:not(:first-child){
  margin-left: 10rem;
}
.red-text {
  color:red;
}
.green-text {
  color:#96d35f;
}
span {
  font-family:"Poppins", "sans-serif";
}
.ef-list{
 background-color: black;
 color: white;
 padding: 2rem 3rem;
  margin-top: 3rem;
  width: 40rem;
}
.ef-list li{
    font-family: "poppins", "sans-serif";
    font-weight: 500;
    margin: 1rem auto;
    margin-left: 2rem;
}

#ml-0 {
  margin-left: 0px;
}

