@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin-left:0;
  margin-right:0;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', "serif";
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body,
html {
  background-color: #e6e6e6;
}

html{
    box-sizing: border-box;
/*     1rem =10px , 10px/16px = 62.5% */
    font-size: 62.5%;
}
.main-page-container {
  background-color: #e6e6e6; 
  height:100vh;
}
.main-page-container2 {
  background-color: #1a1a1a;
  height:100vh;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items:center;
  overflow: hidden;
}
.page-container {
  width: 80%;
  margin:auto;
  display:flex;
}
.home-title {
  font-size:4rem;
  margin-bottom:5rem;
  width: 70%;
}
.home-subtitle {
  font-size: 3.2rem;
  color:#e6e6e6; 
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.home-button {
  background-color:black;
  color:white;
  padding: 1rem 5rem;
  border-radius: 0;
  transition: 400ms;
  font-family:"Poppins", "sans-serif";
  font-weight: 500;
  font-size:1.5rem;
}
.home-button:hover {
  background-color:#6a6c6c;
  cursor:pointer;
}
.page-text-container {
  width:60%;
  padding-top: 15%;
  position: relative;
}
.page-image-container {
  width:39%;
  padding-top:15%;
}
#image-row {
  margin:auto;
  padding: 2rem;
  margin: 2rem;
  margin-top:4rem;
  display:flex;
  width:120%;
}
#image-row img{
   padding: 5rem;
}
.logo-text {
  font-weight:700;
}
.navbar-text {
  transition:400ms;
  border-bottom:1px solid transparent;
  font-family:"Poppins", "sans-serif";
}
.navbar-text:hover {
  color:#b1dd8c;
  border-bottom:1px solid #b1dd8c;
  
}
.small-width {
  width:600px !important;
  margin:auto !important;
}
.big-font{
  font-family: 'Playfair Display', "serif";
  font-size: 16rem;
  margin:0;
  width: 24rem;
  opacity:0.08;
}
.right-footer-position {
  margin-bottom: 20%;
  margin-left: 20%; 
}
.font-head{
    transform: rotate(90deg);
}
.head-font-div{
  display: flex;
  width: 80rem;
  position: absolute;
  height: fit-content;
}
.home-page-div{
  position: relative;
}
.hero-image{
  width: 100%;
  margin-top:-30rem;
  margin-left: 7rem;
}
.font-white{
  color:white;
}
.collection-images{
  width: 20%;
  aspect-ratio:7/5;
  object-fit:cover;
}
.image-row-holder{
  margin: 3rem 0;
}
.home-big-2{
  bottom: -30rem;
  margin-left:55rem;
  font-size:19rem;
}
.card-holder{
  display:flex;
  flex-direction:column;
  justify-items: flex-start;
  margin-bottom: 12rem;
}
.cards{
  display: flex;
  justify-content:space-between;
  width: 60%;
  margin-top: 7rem;
  align-items:center;
  margin-right:0;
}
.feature-image{
  aspect-ratio: 14/8;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 22;
}
.text-section{
  width:35rem;
}
.feature-heading{
  font-size: 2.3rem;
  font-weight:700;
  margin-bottom:1rem;
}
.feature-subheading{
  font-family: "Poppins", "sans-serif";
  font-size: 1.4rem;
  font-weight:400;
  line-height: 1.5;
}
.feature-div{
  width:30rem;
  height:18rem;
  overflow:hidden;
}
.flex-column{
  flex-direction:column;
}
.card-reverse{
  align-self:flex-end;
}
.feature-font-big{
}
.feature-font-holder{
  position: absolute;
  margin-top:40rem;
}
.footer {
    position: relative;
  margin-top: -180px;
  height: 180px;

}
.user-input-dropdown {
  background-color:black;
  color:white;
  border:none;
  border-radius: .1px;
}
.about-card {
  width: 250px;
  height:250px;
  background-color:black;
  color:#e6e6e6; 
  display:inline-block;
  margin: 20px;
  font-size: 26px;
  
}
.about-cards-section {
  width: 700px;

   font-family: 'Playfair Display', "serif";

}
.display-flex {
  display:flex;
}
.about-title {
 margin-top: 75%;
 margin-left: -6px;
}
.about-image-section {
  float:right;
  
}
.about-image-section img {
  float:right;
  text-align:right;
  width: 300px;
  height:300px;
}