* {
  margin-left:0;
  margin-right:0;
}
body {
  background-color: #e6e6e6; 
}
.main-page-container {
  background-color: #e6e6e6; 
  height:100vh;
}
.main-page-container2 {
  background-color: #1a1a1a;
  height:100vh;
}

.page-container {
  width: 1000px;
  margin:auto;
}
.home-title {
  font-size: 3rem;
}
.home-subtitle {
  font-size: 2rem;
  color:#e6e6e6; 
  padding-top: 5%;
}
.home-button {
  background-color:black;
  color:white;
  padding: 12px 60px 12px 60px;
  border-radius: 3px;
  transition: 400ms;
}
.home-button:hover {
  background-color:#6a6c6c;
  cursor:pointer;
}
.page-text-container {
  width:60%;
  padding-top: 15%;
  float:left;
}
.page-image-container {
  float:right;
  width:39%;
  padding-top:15%;
}
#image-row {
  margin:auto;
  padding: 20px;
  margin: 10px;
}
#image-row img{
   padding: 20px;
}
.logo-text {
  font-size: 
}